:root {
    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
    --ion-color-success: #2dd36f;
    --ion-color-warning: #ffc409;
    --ion-color-danger: #eb445a;
    --ion-color-dark: #222428;
    --ion-color-medium: #92949c;
    --ion-color-light: #f4f5f8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --ion-background-color: #121212;
        --ion-text-color: #ffffff;
        --ion-color-primary: #4c8dff;
        --ion-color-secondary: #50c8ff;
        --ion-color-tertiary: #6370ff;
        --ion-color-success: #2fdf75;
        --ion-color-warning: #ffd534;
        --ion-color-danger: #ff4961;
        --ion-color-dark: #f4f5f8;
        --ion-color-medium: #989aa2;
        --ion-color-light: #222428;
    }
}